<!DOCTYPE html>
<html lang="en-EN">
<head>
<meta charset="UTF-8" />
<title><%= @title || 'iFrame Skeleton' %></title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css?v=2.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/prettyPhoto.css" />
    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.prettyPhoto.js" type="text/javascript"></script>
	<script src="js/cssua.min.js" type="text/javascript"></script>
	<script src="js/global.js" type="text/javascript"></script>
</head>

<body>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({ apiKey: "<%= APP_CONFIG['api_key'] %>", cookie: false, xfbml: true });
  FB.Canvas.setAutoResize();
</script>

<%= yield %>

</body>
</html>