<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Facebook Preview</title>

    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/preview.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>

	<script src="/js/cssua.min.js" type="text/javascript"></script>
	<script src="/js/global.js" type="text/javascript"></script>
</head>

<body>
	
<div id="blue-bar"></div><!-- end #blue-bar -->

<div id="header">
	<div role="banner" id="pageHead" class="ptm clearfix">
		<h1 id="pageLogo"><a title="Home" href=""></a></h1>
		
		<div id="jewelCase">
			<div id="requestsWrapper" class="jewel">
				<a rel="toggle" accesskey="3" href="" title="Friend Requests" id="jewelRequest" class="jewelToggler"></a>
			</div>

			<div id="mailWrapper" class="jewel">
				<a rel="toggle" accesskey="4" href="" title="Messages" id="jewelMail" class="jewelToggler">
					
				</a>
			</div>
				
			<div id="notificationsWrapper" class="jewel">
				<a rel="toggle" accesskey="5" href="" title="Notifications" id="jewelNotif" class="jewelToggler">

				</a>
			</div>
		</div>
			
		<div id="headNav" class="clearfix">
			<div id="controls">
				<button id="larger">Make Larger</button>
				<button id="smaller">Make Smaller</button>
			</div>
		</div>
	</div><!-- end #pageHead -->
</div><!-- end #header -->

<div id="content">
	<div id="inner">
		<div id="left">
			<div id="pagelet_profile_picture">
			<div class="profile-picture">
				<a href="">
					<img id="profile_pic" alt="Profile Picture" src="/img/profile.png" class="photo img">
				</a>
			</div>
			</div>
			
			<div id="pagelet_fbx_navigation">
				<div class="mvm" id="sideNav">
					<div class="expandableSideNav expandedMode">
						<div>
						<ul role="navigation" class="uiSideNav">
							<li id="navItem_wall" class="sideNavItem key-wall">
								<a href="" class="item">
									<span class="imgWrap"><i class="img wall"></i></span>
									<span class="linkWrap">Wall</span>
								</a>
							</li>
							
							<li id="navItem_info" class="sideNavItem key-info">
								<a href="" class="item">
									<span class="imgWrap"><i class="img info"></i></span>
									<span class="linkWrap">Info</span>
								</a>
							</li>
							
							<li id="navItem_photos" class="sideNavItem key-photos">
								<a href="" class="item">
									<span class="imgWrap"><i class="img photos"></i></span>
									<span class="linkWrap">Photos</span>
								</a>
							</li>
							
							<li id="navItem_app_4949752878" class="sideNavItem open selectedItem key-app_4949752878 open">
								<a href="" class="item">
									<span class="imgWrap"><i class="img custom"></i></span>
									<span class="linkWrap">Custom Tab Name</span>
								</a>
							</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div id="pagelet_pages_about">
				<div class="uiHeader uiHeaderTopBorder uiHeaderNav">
					<div class="clearfix uiHeaderTop">
						<div>
						<h4 class="uiHeaderTitle">About</h4>
						</div>
					</div>
				</div>
				
				<div class="mas">
					<div id="about_text_less">
						<span class="fsm">Iowa City Access provides you an easily searchable database of bars, restaurants and local events.</span>
					</div>
				</div>
			</div>
			
			<div id="pagelet_fan_count">
				<div role="separator" class="uiHeader uiHeaderTopBorder uiHeaderNav uiHeaderNavEmpty">
					<div class="clearfix uiHeaderTop">
						<div></div>
					</div>
				</div>
			
				<div class="pbs placePageStats">
					<div>
						<span class="uiNumberGiant fsxxl fwb">89</span>
					</div>people like this
				</div>
			</div>
		
			<div id="pagelet_footer_actions">
				<ul id="profile-friends-footer" class="uiList profile-friends-footer">
					<li class="pts uiListItem  uiListVerticalItemBorder" id="fbpage_favorite">
						<a href="#">Add to My Page's Favorites</a>
					</li>
					
					<li class="pts uiListItem  uiListVerticalItemBorder">
						<a href="">Subscribe via RSS</a>
					</li>
					
					<li class="pts uiListItem  uiListVerticalItemBorder">
						<a href="">Create a Page</a>
					</li>
					
					<li class="pts uiListItem  uiListVerticalItemBorder">
						<a href="">Report Page</a>
					</li>
					
					<li class="pvs uiListItem  uiListVerticalItemBorder">
						<a href="">Share</a>
					</li>
				</ul>
			</div>
		</div><!-- end #left -->
		
		<div id="middle">
			<div id="page-title">
				<h1><span>Facebook Page Name</span></h1>
				
				<label for="like_button" id="like_label" class="mlm mainButton uiButton">
					<i id="thumbs_up" class="mrs img sp_6lzo0r sx_4cdfcc"></i>
					<input type="button" id="like_button" value="Like">
				</label>
				
				<div class="fbProfileByline">
					<span class="fsm fwn fcg">Website</span>
				</div>
			</div>
			
			<div id="right">
				<div id="pagelet_right_sidebar">
					<div id="pagelet_mutual">
						<div class="uiHeader uiHeaderTopAndBottomBorder mbs pbs uiSideHeader">
							<div class="clearfix uiHeaderTop">
								<div><h4 class="uiHeaderTitle">You and Iowa City Access</h4></div>
							</div>
						</div>
						
						<div class="phs pbl">
							<ul class="uiList">
								<li class="inCommonSectionList uiListItem  uiListVerticalItemBorder">
									<div class="UIImageBlock clearfix">
										<i id="friends_icon" class="UIImageBlock_Image UIImageBlock_ICON_Image img sp_7gkaqs sx_73f10d"></i>
										<div id="u938686_4" class="uiCollapsedList uiCollapsedListHidden uiCollapsedListNoSeparate UIImageBlock_Content UIImageBlock_ICON_Content">
											<span class="visible"><a href="">Anders Haig</a> likes this.</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				
					<div id="pagelet_ego_pane">
						<div class="ego_column egoOrganicColumn">
							<div class="ego_section">
								<div class="uiHeader uiHeaderTopAndBottomBorder mbs uiSideHeader">
									<div class="clearfix uiHeaderTop">
										<a href="" class="uiHeaderActions rfloat">See All</a>
										
										<div><h4 class="uiHeaderTitle">People You May Know</h4></div>
									</div>
								</div>
								
								<div class="phs">
									<div class="UIImageBlock clearfix ego_unit">
										<a href="" class="UIImageBlock_Image UIImageBlock_SMALL_Image">
											<img src="/img/50x50.png" class="uiProfilePhoto uiProfilePhotoLarge img">
										</a>
										
										<div class="egoProfileTemplate UIImageBlock_Content UIImageBlock_SMALL_Content">
											<a title="Remove" href="#" class="ego_x uiCloseButton uiCloseButtonSmall"></a>
											<a href="" class="ego_title">Akademi Properti</a>
											<div><a>1 mutual friend</a></div>
											<div class="ego_action">
												<a style="padding-left: 18px;" class="uiIconLink">
													<i style="top: 2px;" class="plus-one"></i>Add as friend
												</a>
											</div>
										</div>
									</div>
									
									<div class="UIImageBlock clearfix ego_unit egoUnitBorder">
										<a href="" class="UIImageBlock_Image UIImageBlock_SMALL_Image">
											<img src="/img/50x50.png" class="uiProfilePhoto uiProfilePhotoLarge img">
										</a>
										
										<div class="egoProfileTemplate UIImageBlock_Content UIImageBlock_SMALL_Content">
											<a title="Remove" href="#" class="ego_x uiCloseButton uiCloseButtonSmall"></a>
											<a href="" class="ego_title">Lj Hooker</a>
											<div><a>2 mutual friends</a></div>
											<div class="ego_action">
												<a style="padding-left: 18px;" class="uiIconLink">
													<i style="top: 2px;" class="plus-one"></i>Add as friend
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					
						<div class="ego_column">
							<div class="ego_section">
								<div class="uiHeader uiHeaderTopAndBottomBorder mbs uiSideHeader">
									<div class="clearfix uiHeaderTop">
										<a href="" class="uiHeaderActions rfloat">Create an Ad</a>
										<div><h4 class="uiHeaderTitle">Sponsored</h4></div>
									</div>
								</div>
								<div class="phs">
									<div class="ego_unit">
										<div class="fbEmu fbEmuBlock fbEmuEgo">
											<a title="Remove" href="#" class="ego_x uiCloseButton uiCloseButtonSmall"></a>
											
											<div class="title"><a href="" class="forceLTR emuEvent1 fbEmuLink">Apply Online TMone.com</a></div>
											
											<div class="adInfo"><a href=""></a></div>
											
											<div class="UIImageBlock clearfix image_body_block">
												<a href="" class="emuEvent1 fbEmuLink image UIImageBlock_Image UIImageBlock_SMALL_Image"><img src="img/95x72.png" class="img"></a>
												
												<div class="UIImageBlock_Content UIImageBlock_SMALL_Content">
													<div class="body">
														<a href="" class="forceLTR emuEvent1 fbEmuLink">Like BlackBerry to stay up-to-date with the latest device launches, cool new accessories and the hottest apps.</a>
													</div>
												</div>
											</div>
											
											<div class="inline">
												<div class="action" style="display:block; margin-top:5px;">
													<span class="fbEmuEmptyContext"></span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="fbEmuEgoUnit ego_unit egoUnitBorder">
										<div class="fbEmu fbEmuBlock fbEmuEgo">
											<div class="title"><a href="" class="forceLTR emuEvent1 fbEmuLink">Apply Online TMone.com</a></div>
											
											<div class="adInfo"><a href=""></a></div>
											
											<div class="UIImageBlock clearfix image_body_block">
												<a href="" class="emuEvent1 fbEmuLink image UIImageBlock_Image UIImageBlock_SMALL_Image"><img src="/img/95x72.png" class="img"></a>
												
												<div class="UIImageBlock_Content UIImageBlock_SMALL_Content">
													<div class="body">
														<a href="" class="forceLTR emuEvent1 fbEmuLink">Like BlackBerry to stay up-to-date with the latest device launches, cool new accessories and the hottest apps.</a>
													</div>
												</div>
											</div>
											<div class="inline">
												<div class="action">
													<span class="fbEmuEmptyContext"></span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="fbEmuEgoUnit ego_unit egoUnitBorder">
										<div class="fbEmu fbEmuBlock fbEmuEgo">
											<div class="title"><a href="" class="forceLTR emuEvent1 fbEmuLink">Apply Online TMone.com</a></div>
											
											<div class="adInfo"><a href=""></a></div>
											
											<div class="UIImageBlock clearfix image_body_block">
												<a href="" class="emuEvent1 fbEmuLink image UIImageBlock_Image UIImageBlock_SMALL_Image"><img src="img/95x72.png" class="img"></a>
												
												<div class="UIImageBlock_Content UIImageBlock_SMALL_Content">
													<div class="body">
														<a href="" class="forceLTR emuEvent1 fbEmuLink">Like BlackBerry to stay up-to-date with the latest device launches, cool new accessories and the hottest apps.</a>
													</div>
												</div>
											</div>
											<div class="inline">
												<div class="action">
													<span class="fbEmuEmptyContext"></span>
												</div>
											</div>
										</div>
									</div>
									
									<div class="fbEmuEgoUnit ego_unit egoUnitBorder">
										<div class="fbEmu fbEmuBlock fbEmuEgo">
											<div class="title"><a href="" class="forceLTR emuEvent1 fbEmuLink">Apply Online TMone.com</a></div>
											
											<div class="adInfo"><a href=""></a></div>
											
											<div class="UIImageBlock clearfix image_body_block">
												<a href="" class="emuEvent1 fbEmuLink image UIImageBlock_Image UIImageBlock_SMALL_Image"><img src="/img/95x72.png" class="img"></a>
												
												<div class="UIImageBlock_Content UIImageBlock_SMALL_Content">
													<div class="body">
														<a href="" class="forceLTR emuEvent1 fbEmuLink">Like BlackBerry to stay up-to-date with the latest device launches, cool new accessories and the hottest apps.</a>
													</div>
												</div>
											</div>
											<div class="inline">
												<div class="action">
													<span class="fbEmuEmptyContext"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="tab-content">
				<div id="iframe-wrapper">
					<%= iframe(@preview_url) %>
				</div>
			</div>
			
		<div id="bottomContent"></div>
		</div>
		
	<div class="clear"></div>
	</div>
	
  	<div id="footer">
  		<div id="contentCurve"></div>
  		
		<div id="footerContainer" class="clearfix">
			<div role="contentinfo" class="mrl lfloat">
				<div class="fsm fwn fcg">
					<span title="HPHP - 115 - GeRG5UFbuyt82O0eGkI0_w - 1000752"> Facebook &copy; 2011</span>
					 · <a title="Use Facebook in another language." href="">English (US)</a>
				 </div>
			 </div>
			 
			 <div role="navigation" class="navigation fsm fwn fcg">
			 	<a title="Read our blog, discover the resource center, and find job opportunities." href="">About</a> · <a title="Advertise on Facebook." href="">Advertising</a> · <a title="Create a Page" href="">Create a Page</a> · <a title="Develop on our platform." href="">Developers</a> · <a title="Make your next career move to our awesome company." href="">Careers</a> · <a title="Learn about your privacy and Facebook." href="">Privacy</a> · <a title="Review our terms of service." href="">Terms</a> · <a title="Visit our Help Center." href="">Help</a>
		 	</div>
	 	</div>
  	</div>
<div class="clear"></div>
</div><!-- end #content -->

</body>
</html>