/* ----------------------------
Author: Anders Haig = minim.co
Version: 1.1
File: CSS Styles
---------------------------- */

/* GLOBAL */

body {
	
}
input[type=submit],label,select,.pointer { cursor:pointer; }

.clear {clear:both; display:block;}

/* STANDARD */