/* ----------------------------
Author: Anders Haig = minim.co
Version: 1.1
File: CSS Styles
---------------------------- */

/* GLOBAL */

body {
	
}
input[type=submit],label,select,.pointer { cursor:pointer; }

.clear {clear:both; display:block;}

/* STANDARD */

#wrapper {
	width:520px;
	margin:0 auto;
}

#share {
	background:url('../img/share.png') 0 0 no-repeat;
	color:#FFF;
	border:1px solid #222;
	border-top:none;
	height:40px;
	width:518px;
	line-height:40px;
	font-size:16px;
}

#sharebtn {
	display:block;
	float:right;
	margin-right:50px;

	font-family:arial,helvetica,sans-serif; font-size:12px;
	border:1px solid #999;
	padding:4px 4px 2px 2px;
	width:52px; height:16px;
	text-align:center;
	background-image:url(https://app.tabpress.com/xfbml-tags/_img/sharebtn_bg2.gif);
}
#sharebtn a {
	color:#111;
	text-decoration:none;
	background-image:none;
	background-color:transparent;
}

#up_arrow {
	margin:4px 4px 0 4px;
}

#right_arrow {
	margin:4px 4px 0 4px;
}

#main {
	width:520px;
	height:428px;
	background:url('../img/bg.jpg') 0 0 no-repeat;
	padding-top:305px;
	position:relative;
}

#youtube {
	width:106px;
	height:106px;
	position:absolute;
	top:155px;
	left:50%;
	margin-left:-53px;
	display:block;
}

#info_box {
	-moz-border-radius: 8px;
	border-radius: 8px; 
	background:#FFF;
	border:1px solid #57B8FF;
	margin:0 auto;
	padding:20px;
	width:440px;
}

#info_box h3 {
	margin-bottom:5px;
}

#info_box a {
	font-weight:bold;
	background-color:#DB295B;
	color:#FFF;
	text-decoration:none;
	padding:4px 7px;
	margin-bottom:15px;
	display:block;
	text-align:right;
}

#info_box a:hover {
	background-color:#333;
}

#feeds {
	margin-top:20px;
	height:400px;
}

#left_twitter {
	float:left;
	margin-right:20px;
}

#right_twitter {
	float:left;
}